<!DOCTYPE html>

<!--
  WARNING: Do not look directly at the code.

  It may cause confusion, headaches, or a sudden urge to rewrite everything.
  Proceed with caution!
-->

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/static/_/images/favicon.png" type="image/x-icon">
  <title>Deploy Now</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">

  <style type="text/css">
    html,
    body {
      font-family: 'Roboto', sans-serif;
    }
  </style>
</head>

<body style="background-color: #f2f2f2;">
  {% block page %}
  {% endblock %}
  <footer style="position: absolute; bottom: 0; left: 0; width: 100%; display: flex; gap: 0.75rem; justify-content: center; text-align: center; color: #4b5563; padding: 1rem 0;">
    <p>With ❤️ by Marc Orfila</p>
  </footer>
</body>

</html>
